#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

svg{
	background:aliceblue;
}
rect#kot:hover{
	background:black;
}
.x-axis{
	background:red;
	color:blue;
}

rect.update{
	fill: blue;
	fill-opacity: 0.5;
}
rect.update:hover{
	fill:grey;
	fill-opacity: 0.5;
}